@charset "UTF-8";

/* The settings to apply to all pages */

html {
  font-size: 16px;
  overflow-x: hidden;
}

body {
  overflow-x: hidden;
}

* {
  box-sizing: border-box;
  max-width: 100%;
  margin: 0;
  padding: 0;
}

a:link {
  color: black;
  text-decoration: none;
}

a:visited {
  color: black;
  text-decoration: none;
}

a:hover {
  color: black;
  text-decoration: none;
}

a:active {
  color: black;
  text-decoration: none;
}

/* Apply to all pages ‐ header */

header {
  background-image: url(images/header.jpeg);
  background-size: cover;
  background-position: bottom;
  background-repeat: no-repeat;
  padding: 30px;
}

#number {
  display: flex;
  justify-content: flex-end;
  gap: 30px;
  color: white;
}

/* Apply to all pages ‐ hero */

#hero {
  position: relative;
  background:linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)),
  url(images/hero.jpeg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-color: rgba(0, 0, 0, 0.5);
  height: 100vh;
  display: flex;
  flex-direction: column;
  color: white;
}

#catch {
  position: absolute;
  top: 250px;
  right: 40px;
  font-size: 1.5rem;
}

#campaign {
  position: absolute;
  text-align: center;
  top: 450px;
  left: 100px;
  font-size: 1.5rem;
  border-radius: 10px;
  padding: 50px;
}

#campaign2 {
  display: flex;
  justify-content: center;
  gap: 30px;
}

.campaign {
  border: 1px solid gold;
  box-sizing: border-box;
  border-radius: 50%;
  padding: 30px;
}

.zero {
  font-size: 5rem;
}

/* Apply to all pages ‐ footer */

footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background: linear-gradient(
        135deg,
        #f6e27a 0%,
        #d4af37 25%,
        #b8860b 50%,
        #d4af37 75%,
        #f6e27a 100%
  );
  text-align: center;
  padding: 30px;
  z-index: 1000;
  font-size: 1.5rem;
}

#botton {
    display: inline-block;
    color: white;
    background: linear-gradient(to bottom, #3a3a3a, #111);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    border: 3px solid white;
    margin-top: 10px;
    padding: 30px;
    font-size: 2rem;
    transition: all 0.3s ease;
}

#botton:hover {
    transform: translateY(-5px);
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.3);
}

@media(max-width: 767px) {
  /* The settings to apply to all pages */

  html {
    font-size: clamp(12px, 2vw, 18px);
  }
}
